.flex{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */

    /*flex-direction: column;*/
    flex-flow: column wrap;

    flex-wrap: wrap;
    /*flex-wrap: nowrap;
    flex-wrap: wrap-reverse;*/
}

.flex > div{
    width: 100px;
    margin: 20px;
    font-size: 1.5rem;
    text-align: center;
    background-color:indianred;
    border: 3px solid var(--info);
}

#div7{
    order: -2;

}